
.container{
    margin-bottom: 100px;
    
}
.bg-color{
    background-color: #F0FFF0;
}
.btn-primary{
    color: white;
    background-color:#21B573;
    border-radius: 33px;
    
    
}
.nav-b{
    color: white;
    background-color:#21B573;
    border-radius: 33px;
    width: 100px;

}

.navbar-brand img{
    width:30%;

}
.col-md-6 img{
    width: 100%;

}
.paddng{
    padding: 0 90px 0 90px;
    
} 
.red-text{
    color: #FD511A;
    font-size: 16px;
    font-weight: 400;
}
.head-text{
    font-weight: 700;
    font-size: 48px;


}

span{
    color: #21B573;
}
.para-text{
    color: #6C6B6B;
    font-size: 16;
    font-weight: 400;

}

.col-md-3 img{
    width: 25%;

}
.shadow{
    box-shadow: 5px 5px 10px lightgray;
    
}
.radious-cart{
   border-radius: 10px;
}
.width-box{
    background-color:#F8FFFB;
    width: 300px;
    height: 300px;
    
    
}
.width-box h2{
    color: #413960;
}
.margin-t{
    margin-top: 25px;
}
.card-title{
    color: #413960;

}
.card-radious{
    border-radius: 10px;
    padding: 20px;
}
.online-courses{
    margin-bottom: 100px;
    
}
.man img{
    width: 20%;
    margin-right: 20px;
}
.man{
    padding-left: 300px;
    padding-right: 300px;
    
}
.testimonial{
    margin-bottom: 100px;
}
.footer{
    color: white;
    background-color: #312d41;
    height: 400px;
}
li{
    list-style-type: none;
    font-size: 18px;
}
.margin-foot{
    margin-top: 100px;

}